body{
  //background-image: linear-gradient(to right, #D60AF7, #F70A1C, #0A20F7);
  //background-color: #19F576;
}

.tab-content{
  background-color: #93FCBF;
  height: 100vh;
  overflow: auto;
}

.third-row{
  height: 100%;
}

.img-fluid{
      width: 50%;
      padding: 5px;
      display: flex;
      justify-content: center;
    }

    .total
    {
      display: flex;
      justify-content: left;
    }

    .firstRow{
      background-color: #19F576;
    }

    .img-fluid:hover{
      cursor: pointer;
      filter: drop-shadow(4px 4px 10px #200) saturate(200%);

    }

    .second-row{
      background-color: #71FF5B;
      position: sticky;
      top: 0px;
      z-index: 1;
    }
    .endMessage{
      display: none;
    }

    .time{
      text-align: right;
      color: black;
     
    }

    .date{
      color: black;
      
    }

    .itemsTable{
      margin: auto;
    }

    .invoicePart{
      margin: auto;
    }

     .action-btn
  {
    display: block;
  }

  .dateTime{
    display: block;
  }

  .cafeTitle{
    color: black !important;
  }


    /* Media query for screens less than 430px */
@media only screen and (max-width: 429px) {
  .action-btn11
  {
    display: none !important;
  }

  .dateTime{
    display: none !important;
  }

  .action-button{
    display: none;
  }
}

.firstRow{
  display: block !important;
}

/*for first table*/
@media print{
  .second-row, .itemsTable, .action-btn{
    display: none !important;
  }

  .action-btn11{
    display: none !important;
  }

  .total{
    justify-content: right;
    margin-right: 150px;
  }

  .firstRow{
    background-color: #EBF8E5;
  }

  .tableNumber{
    display: flex;
    justify-content: left;
  }

  .invoiceName{
    margin-top: -50px;
  }

  .action-button{
    visibility: hidden;
  }

  .endMessage{
    display: block;
    color: brown;
    font-weight: bold;
    padding: 20px;
  }

  .date{
    color: black
  }

  .time{
    color: black
  }

  .cafeTitle{
    color: black !important;
  }

  .tab-content{
  background-color: white;
}
}


/*loder css*/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure the loader is on top of other elements */
}

.loader img {
    width: 50px; /* Set the width of your loader image */
    height: 50px; /* Set the height of your loader image */
    /* Add any additional styles for your loader image */
}